<div class ="container-form">
	<h1>Página do Administrador</h1>

	<form class="formulario" (ngSubmit)="submit($event)">
	  <label for="title"><b>Imagem:</b></label><br>
	  <input type="text" id="image" name="fname" class="label"><br>
	  <label for="lname"><b>Titulo do post:</b></label><br>
	  <input type="text" id="title" name="lname" class="label">
	  <br>
	  <label for="lname"><b>Texto:</b></label><br>
	  <input type="text" id="text" name="lname" class="label">
	  <br>
	  <input type="submit" name="submit" id="submit" value="Cadastrar">
	</form>
</div>